.app-main-content {
  flex-grow: 1;
  margin-top: 64px;
  padding: 24px;
  /* Equivalent to theme.spacing(3) */
}

.app-sidebar-big-screens {
  margin-top: 64px;
}

@media (min-width: 900px) {
  .app-main-content {
    margin-left: 240px;
  }
}